body {
  width: 100%;
}

.mobile-container {
  width: 350px;
  height: 750px;
  background-color: #ccc;
  border-radius: 10px;
  margin-top: 10px;
}

.user-container {
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 677px;
  border: 1px solid red;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.first-section {
  background-color: violet;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.white-space {
  margin: 0 auto;
  background-color: white;
  width: 150px;
  height: 25px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.user-status {
  margin-top: 10px;
  padding-bottom: 5px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  height: 40px;
}

.left-status {
  align-items: center;
}

.left-status div {
  padding: 0 5px;
}

.right-status {
  padding: 0 5px;
}

.fas {
  color: #fff;
}

.user-image {
  border: 1px solid #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.user-details {
  width: 120px;
  height: 40px;
  
}

.user-name {
  font-size: 15px;
}

.user-availability {
  font-size: 10px;
  top: 20px;
}

.second-section {
  background-color: #f5f3f8;
  padding: 10px 10px;
  border: 1px solid black;
  height: 600px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.second-section div {
    margin-bottom: 5px;
}


.dog-img {
    width: 60px;
    height: 60px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.dog-pictures {
  border: 0px solid white;
}

.message-left {
    float: left;
    border: 1px solid #ccc;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.message-right {
    float: right;
    border: 1px solid #ccc;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.message {
  margin: auto;
}

.dog-pictures {
  border: 0px solid white;
}

.message p {
  font-size: 15px;
}

.sixth-message {
  background-color: linear-gradient(to right, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  top: 505px;
  justify-content: space-around;
}

.send-message {
  padding:0 5px;
  background-color: #fff;
  text-align: center;
  justify-content: space-between;
  width: 250px;
  height: 30px;
  border-radius: 20px;
  border: 1px solid #ccc;
  top: 560px;
  left: 30px;
}

.fa-chevron-circle-right {
  color: black;
}
