body {
  width: 100%;
  background-color: hsl(270, 20%, 96%);
}

main {
  margin: 0;
  width: 100%;
}

.mobile-container {
  top: 35px;
  left: 20px;
  right: 20px;
  width: 350px;
  height: 750px;
  background-color: #ccc;
  border-radius: 9%;
  margin-top: 10px;
  margin-bottom: px;
}

.user-container {
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 677px;
  border-radius: 8%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.first-section {
  background-image: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.white-space {
  margin: 0 auto;
  background-color: white;
  width: 150px;
  height: 25px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.user-name {
  color: hsl(0, 0%, 100%);
  font-size: 15px;
}

.user-availability {
  color: hsl(0, 0%, 100%);
  font-size: 10px;
  top: 20px;
}

.user-status {
  margin-top: 10px;
  padding-bottom: 5px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  height: 40px;
}

.left-status {
  align-items: center;
}

.left-status div {
  padding: 0 5px;
}

.right-status {
  padding: 0 5px;
}

.fas {
  color: #fff;
}

.user-image {
  border: 1px solid #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.user-details {
  width: 120px;
  height: 40px;
}

.second-section {
  background-color: hsl(270, 20%, 96%);
  padding: 10px 10px;
  height: 600px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.second-section div {
  margin-bottom: 5px;
}

.dog-img {
  width: 60px;
  height: 60px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.dog-pictures {
  border: 0px solid white;
}

.message-left {
  background-color: hsl(278, 25%, 94%);
  float: left;
  border: 1px solid #ccc;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.message-right {
  float: right;
  border: 1px solid #ccc;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.message {
  margin: auto;
}

.dog-pictures {
  border: 0px solid white;
}

.message p {
  font-size: 15px;
}

.message-right {
  color: hsl(271, 15%, 43%);
}

.message-left-color {
  color: hsl(276, 55%, 52%);
}

.fifth-message {
  background-image: linear-gradient(
    to right,
    hsl(293, 100%, 63%),
    hsl(264, 100%, 61%)
  );
}

.sixth-message {
  background-image: linear-gradient(
    to right,
    hsl(293, 100%, 63%),
    hsl(264, 100%, 61%)
  );
  top: 505px;
  justify-content: space-around;
}

.send-message {
  padding: 0 5px;
  background-color: #fff;
  text-align: center;
  justify-content: space-between;
  width: 250px;
  height: 30px;
  border-radius: 20px;
  border: 1px solid #ccc;
  top: 560px;
  left: 30px;
}

.fa-chevron-circle-right {
  color: black;
}

.paragraph {
  color: hsl(270, 7%, 64%);
}

.main-heading {
  color: hsl(271, 36%, 24%);
  padding-top: 180px;
}

.left-box {
  z-index: -1;
  background-image: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  width: 22%;
  height: 41rem;
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
}

.right-box {
  z-index: -1;
  width: 20%;
  height: 38rem;
  background-color: hsl(278, 25%, 94%);
  border-top-left-radius: 199px;
  width: 20%;
  position: absolute;
  top: 47%;
  margin-left: 80%;
}
